@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body{
/*	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #102128;*/
}

/*start of Menu*/
nav
{
	position: fixed;
	background-color: skyblue;
	height: 70px;
	width: 100%;
	z-index: 1;
}

.logo
{
	font-size: 25px;
	position: relative;
	left: 5%;
	color: black;
	font-weight: bold;
	line-height: 70px;

	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

ul{
	position: relative;
	float: right;
	margin-right: 20px;
}

ul li{
	display: inline-block;
	line-height: 70px;
	margin: 0 5px;
}

ul li a
{
	text-decoration: none;
	color: white;
	font-size: 17px;
}
/*end of menu*/

/*start of slider*/
.slider_body{
	position: center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}

.image-slider{
	position: relative;
	width: 800px;
	height: 500px;
	margin: 10px;
	margin-top: 25px;
	background-color: #102128;
}

.image-slider .slide{
	z-index: 1;
	position: absolute;
	width: 100%;
	clip-path: circle(0% at 0 50%);
}

.image-slider .slide.active{
	clip-path: circle(150.0% at 0 50%);
	transition: 2s;
	transition-property: clip-path;
}

.image-slider .slide img{
	z-index: 1;
	width: 100%;
	border-radius: 5px;
}

.image-slider .slide .info{
	position: absolute;
	top: 0;
	padding: 15px 30px;
}

.image-slider .slide .info h2{
	color: #fff;
	font-size: 45px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
}

.image-slider .slide .info p{
	color: #fff;
	/*color: green;*/
	background: rgba(0,0,0,0.1);
	font-size: 16px;
	width: 60%;
	padding: 10px;
	border-radius: 4px;
}

.image-slider .navigation{
	z-index: 2;
	position: absolute;
	display: flex;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}

.image-slider .navigation .btn{
	background: rgba(0,255,0.5);
	width: 12px;
	height: 12px;
	margin: 10px;
	border-radius: 50%;
	cursor: pointer;
}

.image-slider .navigation .btn.active{
	background: #2696E9;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px){
	.image-slider{
		width: 600px;
		height: 375px;
	}

	.image-slider .slide .info{
		padding: 10px 25px;
	}

	.image-slider .slide .info h2{
		font-size: 35px;
	}

	.image-slider .slide .info p{
		width: 70%;
		font-size: 15px;
	}

	.image-slider .navigation{
		bottom: 25px;
	}

	.image-slider .navigation .btn{
		width: 10px;
		height: 10px;
		margin: 8px;
	}

}

@media (max-width: 620px){
	.image-slider{
		width: 400px;
		height: 250px;
	}

	.image-slider .slide .info{
		padding: 10px 20px;
	}

	.image-slider .slide .info h2{
		font-size: 30px;
	}

	.image-slider .slide .info p{
		width: 80%;
		font-size: 13px;
	}

	.image-slider .navigation{
		bottom: 15px;
	}

	.image-slider .navigation .btn{
		width: 8px;
		height: 8px;
		margin: 6px;
	}

}

@media (max-width: 420px){
	.image-slider{
		width: 320px;
		height: 200px;
	}

	.image-slider .slide .info{
		padding: 5px 10px;
	}

	.image-slider .slide .info h2{
		font-size: 25px;
	}

	.image-slider .slide .info p{
		width: 90%;
		font-size: 11px;
	}

	.image-slider .navigation{
		bottom: 15px;
	}

}
/*end of slider.

/*start of welcome message*/
.welcome_img
{
	width: 100%;
	height: 250px;
}

.container
{
	 padding-top: 70px; 
}
/* end of welcome message*/

col-md-4{
	width: 100px;
	height: 100px;
}


/*Login form*/


.form_deg
{
	padding: 200px;
}

.label_deg
{
	display: inline-block;
	color: blue;
	width: 100px;
	text-align: right;
	padding-top: 10px;
	font-size: 18px;
	padding-bottom: 10px;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.login_form
{
	background-color: skyblue;
	width: 500px;
	padding: 70px;
}

#login_btn
{
	position: relative;
	width: 50%;
	left: 5%;
}

.title_deg
{
	background: lightgreen;
	color: darkred;
	width: 500px;
	font-size: 22px;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	font-family: "Poppins", sans-serif;
}

.body_deg_login
{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
/*End of Login*/